@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Quicksand:regular,700&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Quicksand";
  font-size: calc(1.0375rem + 0.4375vw);
}
@media (min-width: 1920px) {
  body {
    font-size: 1.5625rem;
  }
}

.container {
  padding-left: calc(-1.875rem + 14.0625vw);
  padding-right: calc(-1.875rem + 14.0625vw);
  flex: 1 1 auto;
}
@media (min-width: 1920px) {
  .container {
    padding-left: 15rem;
  }
}
@media (min-width: 1920px) {
  .container {
    padding-right: 15rem;
  }
}

main {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow: auto;
  height: 100vh;
}

section {
  scroll-snap-align: center;
  overflow-y: none;
  height: 100%;
}
@media (min-width: 320px) {
  section {
    min-height: 100%;
  }
}

.section-header__text {
  line-height: 2.5;
  max-width: 33.75rem;
}
@media (max-width: 500px) {
  .section-header__text {
    line-height: 1.8;
  }
}
.section-header__label {
  color: #6A6E77;
  font-size: calc(1.0375rem + 0.4375vw);
  font-weight: 400;
  line-height: 1.5;
}
@media (min-width: 1920px) {
  .section-header__label {
    font-size: 1.5625rem;
  }
}
.section-header__label:not(:last-child) {
  margin-bottom: calc(0.725rem + 1.0625vw);
}
@media (min-width: 1920px) {
  .section-header__label:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.section-header__title {
  color: #1C1F25;
  font-size: calc(1.375rem + 1.875vw);
  font-weight: 700;
  line-height: 1.5;
  max-width: 30rem;
}
@media (min-width: 1920px) {
  .section-header__title {
    font-size: 3.625rem;
  }
}
.section-header__title:not(:last-child) {
  margin-bottom: calc(1.75rem + 3.75vw);
}
@media (min-width: 1920px) {
  .section-header__title:not(:last-child) {
    margin-bottom: 6.25rem;
  }
}
.section-header__title_big {
  max-width: 55.625rem;
}
.section-header_lite .section-header__text {
  color: #E3E6EC;
}
.section-header_lite .section-header__title {
  color: white;
}

.text {
  color: #6A6E77;
  font-size: 21px;
  font-weight: 400;
  line-height: 1.4;
}
@media (max-width: 768px) {
  .text {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .text {
    font-size: 18px;
  }
}

.title {
  color: #1C1F25;
  font-size: calc(1.125rem + 0.625vw);
  font-weight: 700;
  line-height: 1.5;
}
@media (min-width: 1920px) {
  .title {
    font-size: 1.875rem;
  }
}

.services {
  display: grid;
  gap: calc(1.5rem + 1.875vw);
}
@media (min-width: 1920px) {
  .services {
    gap: 3.75rem;
  }
}
.services__item {
  display: flex;
  align-items: center;
  gap: calc(0.875rem + 1.875vw);
}
@media (min-width: 1920px) {
  .services__item {
    gap: 3.125rem;
  }
}
@media (max-width: 320px) {
  .services__item {
    flex-direction: column;
    align-items: flex-start;
  }
}
.services__icon img {
  max-width: 2.625rem;
}
@media (max-width: 768px) {
  .services__icon img {
    max-width: 25px;
  }
}
@media (max-width: 450px) {
  .services__icon {
    display: none;
  }
}
.services__title:not(:last-child) {
  margin-bottom: calc(0.875rem + 0.3125vw);
}
@media (min-width: 1920px) {
  .services__title:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

/**
Загальні стилі для табів

*/
/*
.tabs {

	.hide {
		display: none;
	}

	.show {
		display: flex;
	}
	._tab-active {
			cursor: pointer;
		}
}

*/
/**
* Кінець загальні стилі для табів
*/
.page {
  counter-reset: item;
}
.page__section {
  position: relative;
}
.page__section::after {
  color: #E3E6EC;
  font-size: calc(1.125rem + 2.1875vw);
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 50%;
  transform: translate(50%, -50%);
  right: calc(-0.9375rem + 7.03125vw);
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
}
@media (min-width: 1920px) {
  .page__section::after {
    font-size: 3.75rem;
  }
}
@media (min-width: 1920px) {
  .page__section::after {
    right: 7.5rem;
  }
}
@media (max-width: 500px) {
  .page__section::after {
    top: 1.25rem;
    right: 50%;
  }
}
.page__section_center {
  display: flex;
  align-items: center;
}

.screen-01__body {
  padding-left: calc(-1.875rem + 14.0625vw);
  padding-right: calc(-1.875rem + 14.0625vw);
  padding-top: calc(-0.075rem + 8.1875vw);
  padding-bottom: calc(-0.075rem + 8.1875vw);
  position: relative;
  height: auto;
}
@media (min-width: 1920px) {
  .screen-01__body {
    padding-left: 15rem;
  }
}
@media (min-width: 1920px) {
  .screen-01__body {
    padding-right: 15rem;
  }
}
@media (min-width: 1920px) {
  .screen-01__body {
    padding-top: 9.75rem;
  }
}
@media (min-width: 1920px) {
  .screen-01__body {
    padding-bottom: 9.75rem;
  }
}
.screen-01__body::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(28, 31, 37, 0.6);
}
.screen-01__section-header {
  position: relative;
  z-index: 1;
}
.screen-01__img {
  height: 80%;
}
.screen-01 img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 768px) {
  .screen-01 .screen-01__body {
    position: static;
  }
  .screen-01 .section-header__label {
    color: #e9ebef;
  }
}

/* section-02 ***********************************************************/
@media (max-width: 768px) {
  .screen-02__container {
    padding-right: 0;
  }
}
@media (min-width: 320px) {
  .screen-02__container {
    min-height: 100%;
    display: flex;
    align-items: flex-start;
  }
}
@media (max-width: 500px) {
  .screen-02__container {
    padding-right: calc(-1.875rem + 14.0625vw);
    flex-direction: column;
  }
}
@media (max-width: 500px) and (min-width: 1920px) {
  .screen-02__container {
    padding-right: 15rem;
  }
}
.screen-02__content {
  flex: 0 1 50%;
  align-self: center;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
}
@media (min-width: 320px) {
  .screen-02__content {
    padding-bottom: 3.125rem;
    padding-right: 1.25rem;
  }
}
.screen-02__img {
  flex: 0 1 50%;
  position: relative;
  height: 100vh;
}
@media (max-width: 768px) {
  .screen-02__img {
    height: 100vh;
  }
}
@media (max-width: 500px) {
  .screen-02__img {
    height: 25vh;
    width: 100%;
    flex: none;
  }
}
.screen-02__img img {
  max-width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

/*************************************************************/
@media (min-width: 320px) {
  .screen-03__container {
    padding-left: 0;
    min-height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
}
.screen-03__content {
  flex: 0 1 60%;
  align-self: center;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
}
@media (min-width: 320px) {
  .screen-03__content {
    padding-bottom: 3.125rem;
    padding-left: calc(-1.5rem + 13.75vw);
  }
}
@media (min-width: 320px) and (min-width: 1920px) {
  .screen-03__content {
    padding-left: 15rem;
  }
}
.screen-03__img {
  flex: 0 1 40%;
  position: relative;
  height: 40vh;
}
@media (min-width: 320px) {
  .screen-03__img {
    height: 100vh;
  }
}
.screen-03__img img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat, #C4C4C4;
}

.values-screen-03 {
  padding-top: calc(1.875rem + 4.6875vw);
  display: grid;
  gap: calc(0.925rem + 3.1875vw);
}
@media (min-width: 1920px) {
  .values-screen-03 {
    padding-top: 7.5rem;
  }
}
@media (min-width: 1920px) {
  .values-screen-03 {
    gap: 4.75rem;
  }
}
.values-screen-03__item {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  gap: 0.9375rem;
}
.values-screen-03__value {
  color: #1C1F25;
  font-weight: 700;
}
.values-screen-03__line {
  grid-column: span 2;
  background: rgba(28, 31, 37, 0.1);
  height: 0.625rem;
}
.values-screen-03__line span {
  display: block;
  background-color: #1C1F25;
  height: 0.625rem;
}

/*********************************************/
.screen-04__container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 320px) {
  .screen-04__container {
    justify-content: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}
@media (max-width: 500px) {
  .screen-04__section-header {
    margin-top: 20px;
  }
}
.screen-04__section-header:not(:last-child) {
  margin-bottom: calc(0.65rem + 7.6875vw);
}
@media (min-width: 1920px) {
  .screen-04__section-header:not(:last-child) {
    margin-bottom: 9.875rem;
  }
}

.advantages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13.75rem, 1fr));
  gap: calc(0.875rem + 1.875vw);
}
@media (min-width: 1920px) {
  .advantages {
    gap: 3.125rem;
  }
}
@media (max-width: 768px) {
  .advantages__item {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: max-content 1fr;
    -moz-column-gap: 14px;
         column-gap: 14px;
  }
}
@media (max-width: 360px) {
  .advantages__item {
    display: block;
  }
}
@media (max-width: 768px) {
  .advantages__icon {
    grid-row: 1/3;
    align-self: center;
  }
}
@media (max-width: 360px) {
  .advantages__icon {
    display: none;
  }
}
.advantages__icon:not(:last-child) {
  margin-bottom: calc(1.025rem + 0.5vw);
}
@media (min-width: 1920px) {
  .advantages__icon:not(:last-child) {
    margin-bottom: 1.625rem;
  }
}
.advantages__icon img {
  max-width: 2.625rem;
}
@media (max-width: 768px) {
  .advantages__icon img {
    max-width: 25px;
  }
}
.advantages__title:not(:last-child) {
  margin-bottom: calc(0.725rem + 1.0625vw);
}
@media (min-width: 1920px) {
  .advantages__title:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.advantages__text {
  line-height: 1.8;
  color: #6A6E77;
}

/***********************************/
@media (max-width: 768px) {
  .screen-05__container {
    padding-right: 0;
  }
}
@media (min-width: 320px) {
  .screen-05__container {
    min-height: 100%;
    display: flex;
    align-items: flex-start;
  }
}
.screen-05__content {
  flex: 0 1 50%;
  align-self: center;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
}
@media (max-width: 768px) {
  .screen-05__content {
    flex: 0 1 60%;
  }
}
@media (max-width: 500px) {
  .screen-05__content {
    flex: 0 1 65%;
  }
}
@media (min-width: 320px) {
  .screen-05__content {
    padding-bottom: 3.125rem;
    padding-right: 1.25rem;
  }
}
.screen-05__img {
  flex: 0 1 50%;
  flex-direction: column;
  position: relative;
  height: 40vh;
}
@media (max-width: 768px) {
  .screen-05__img {
    flex: 0 1 40%;
  }
}
@media (max-width: 500px) {
  .screen-05__img {
    flex: 0 1 35%;
  }
}
@media (min-width: 320px) {
  .screen-05__img {
    height: 100vh;
  }
}
.screen-05__img img:first-child {
  max-width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 50%;
  top: 0;
  right: 0;
}
.screen-05__img img:last-child {
  max-width: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 50%;
  bottom: 0;
  right: 0;
}

/***********************06***********************/
.screen-06 {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
@media (min-width: 320px) {
  .screen-06__container {
    min-height: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .screen-06__container {
    display: block;
  }
}
.screen-06__section-header {
  flex: 0 1 46%;
}
@media (max-width: 500px) {
  .screen-06__section-header {
    margin-bottom: 36px;
  }
}
@media (max-width: 320px) {
  .screen-06__section-header {
    padding-bottom: 1.875rem;
  }
}
.screen-06__services {
  flex: 0 1 64%;
}

@media (min-width: 320px) {
  .screen-07__container {
    padding-right: 0;
    min-height: 100%;
    display: flex;
    align-items: center;
    gap: 6px;
  }
}
.screen-07__content {
  flex: 0 1 60%;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
}
@media (min-width: 320px) {
  .screen-07__content {
    padding-bottom: 3.125rem;
  }
}
@media (max-width: 500px) {
  .screen-07__content {
    flex: 0 1 75%;
  }
}
.screen-07__img {
  flex: 0 1 40%;
  position: relative;
  height: 40vh;
}
@media (min-width: 320px) {
  .screen-07__img {
    height: 100vh;
  }
}
@media (max-width: 500px) {
  .screen-07__img {
    flex: 0 1 25%;
  }
}
.screen-07__img img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat, #C4C4C4;
}

/************************08*********************/
@media (min-width: 320px) {
  .screen-08__container {
    min-height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
  }
}
@media (max-width: 768px) {
  .screen-08__container {
    padding-left: 0;
  }
}
.screen-08__content {
  flex: 0 1 50%;
  align-self: center;
  padding-top: 3.125rem;
  padding-bottom: 1.875rem;
}
@media (min-width: 320px) {
  .screen-08__content {
    padding-bottom: 3.125rem;
    padding-left: calc(-1.5rem + 13.75vw);
  }
}
@media (min-width: 320px) and (min-width: 1920px) {
  .screen-08__content {
    padding-left: 15rem;
  }
}
@media (max-width: 500px) {
  .screen-08__content {
    flex: 0 1 65%;
  }
}
.screen-08__section-header {
  margin-bottom: calc(-0.125rem + 10vw);
}
@media (min-width: 1920px) {
  .screen-08__section-header {
    margin-bottom: 11.875rem;
  }
}
.screen-08__img {
  flex: 0 1 50%;
  position: relative;
  height: 40vh;
}
@media (min-width: 320px) {
  .screen-08__img {
    height: 100vh;
  }
}
@media (max-width: 500px) {
  .screen-08__img {
    flex: 0 1 35%;
  }
}
.screen-08__img img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat, #C4C4C4;
}

.projects {
  display: flex;
  gap: calc(0.4125rem + 4.1875vw);
}
@media (min-width: 1920px) {
  .projects {
    gap: 5.4375rem;
  }
}
.projects__value {
  color: #1C1F25;
  font-size: calc(0.6rem + 2.625vw);
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1rem;
}
@media (min-width: 1920px) {
  .projects__value {
    font-size: 3.75rem;
  }
}
.projects__label {
  color: #6A6E77;
  font-size: calc(0.7375rem + 0.6875vw);
  font-weight: 400;
  line-height: normal;
}
@media (min-width: 1920px) {
  .projects__label {
    font-size: 1.5625rem;
  }
}

/***********************09*******************/
.screen-09__container {
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 1000px) {
  .screen-09__container {
    flex-direction: column;
    padding-top: 3.125rem;
  }
}
@media (max-width: 768px) {
  .screen-09__container {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 1000px) {
  .screen-09__section-header {
    flex: 0 0 33.333%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .screen-09__section-header .section-header {
    text-align: center;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
  }
  .screen-09__section-header .section-header__title {
    margin-right: calc(0.35rem + 1.375vw);
    margin-bottom: 0rem;
  }
}
@media (min-width: 1000px) and (min-width: 1920px) {
  .screen-09__section-header .section-header__title {
    margin-right: 2rem;
  }
}
@media (max-width: 1000px) {
  .screen-09__section-header {
    margin-bottom: calc(0.875rem + 1.875vw);
    padding: 1.25rem;
  }
}
@media (max-width: 1000px) and (min-width: 1920px) {
  .screen-09__section-header {
    margin-bottom: 3.125rem;
  }
}
.screen-09__items {
  flex: 0 0 66.667%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.item-screen-09 {
  display: flex;
}
@media (min-width: 768px) {
  .item-screen-09:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .item-screen-09:nth-child(odd) .item-screen-09__body {
    text-align: right;
  }
}
.item-screen-09__body {
  flex: 0 1 50%;
  align-self: center;
  padding: 1.25rem;
}
.item-screen-09__img {
  flex: 0 1 50%;
  position: relative;
}
@media (max-width: 1000px) {
  .item-screen-09__img {
    padding-bottom: 35%;
  }
}
.item-screen-09__img img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

/******************10**************************/
.screen-10__container {
  display: flex;
  min-height: 100%;
  padding-bottom: 3.125rem;
}
@media (max-width: 768px) {
  .screen-10__container {
    padding-top: 3.125rem;
    flex-direction: column;
    gap: 1vh;
  }
}
.screen-10__item {
  flex: 0 1 33.333%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
}
@media (max-width: 768px) {
  .screen-10__item {
    flex-direction: column;
    gap: 1vh;
  }
}
.screen-10__body {
  padding-right: 0.9375rem;
  padding-top: calc(1.125rem + 2.1875vw);
}
@media (min-width: 1920px) {
  .screen-10__body {
    padding-top: 3.75rem;
  }
}
.screen-10__img {
  flex-grow: 0;
  flex-basis: 57.407407vh;
  position: relative;
}
@media (max-width: 768px) {
  .screen-10__img {
    flex-basis: 10vh;
  }
}
.screen-10__img img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
@media (max-width: 768px) {
  .screen-10 .screen-10__container {
    padding-top: 0;
  }
  .screen-10 .screen-10 .screen-10__item {
    flex-grow: 1;
    flex-basis: 10vh;
  }
  .screen-10__img {
    height: 10%;
  }
}
.screen-10__title:not(:last-child) {
  margin-bottom: calc(0.725rem + 1.0625vw);
}
@media (min-width: 1920px) {
  .screen-10__title:not(:last-child) {
    margin-bottom: 2rem;
  }
}
/*************************11*******************/
.screen-11 {
  position: relative;
}
@media (min-width: 768px) {
  .screen-11::before {
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 37.5%;
    background: rgba(196, 196, 196, 0.3);
  }
}
.screen-11__container {
  z-index: 2;
  min-height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}
@media (max-width: 768px) {
  .screen-11__container {
    flex-direction: column;
  }
}
.screen-11__items {
  flex: 0 1 50%;
  padding-left: calc(-0.75rem + 13.125vw);
  display: grid;
  gap: calc(1.125rem + 2.1875vw);
}
@media (min-width: 1920px) {
  .screen-11__items {
    padding-left: 15rem;
  }
}
@media (min-width: 1920px) {
  .screen-11__items {
    gap: 3.75rem;
  }
}
@media (max-width: 768px) {
  .screen-11__items {
    margin-bottom: 1.875rem;
    padding-left: 0;
  }
}
.screen-11__item {
  align-self: center;
}
.screen-11__title:not(:last-child) {
  margin-bottom: calc(0.725rem + 1.0625vw);
}
@media (min-width: 1920px) {
  .screen-11__title:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.screen-11__img {
  flex: 0 1 50%;
  position: relative;
  width: 100%;
  height: 60vh;
}
.screen-11__img img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}
@media (max-width: 768px) {
  .screen-11__img {
    flex: none;
    height: 100px;
  }
}

/****************12**************/
.screen-12__body {
  flex-grow: 1;
  position: relative;
  padding-top: calc(1.8125rem + 6.5625vw);
  padding-bottom: calc(1.8125rem + 6.5625vw);
  padding-left: calc(-1.875rem + 14.0625vw);
  padding-right: calc(0.75rem + 11.875vw);
}
@media (min-width: 1920px) {
  .screen-12__body {
    padding-top: 9.6875rem;
  }
}
@media (min-width: 1920px) {
  .screen-12__body {
    padding-bottom: 9.6875rem;
  }
}
@media (min-width: 1920px) {
  .screen-12__body {
    padding-left: 15rem;
  }
}
@media (min-width: 1920px) {
  .screen-12__body {
    padding-right: 15rem;
  }
}
.screen-12__body::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(28, 31, 37, 0.6);
}
@media (max-width: 768px) {
  .screen-12__body::after {
    background: rgba(28, 31, 37, 0.9);
  }
}
@media (max-width: 768px) {
  .screen-12__body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
  }
}
.screen-12__items {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}
@media (max-width: 768px) {
  .screen-12__items {
    flex-direction: column;
    gap: 1.875rem;
  }
}
.screen-12__item {
  color: #E3E6EC;
  flex: 0 1 33.333%;
  align-items: center;
  text-align: center;
}
.screen-12__value {
  font-size: calc(1.875rem + 1.5625vw);
  font-weight: 700;
  line-height: normal;
}
@media (min-width: 1920px) {
  .screen-12__value {
    font-size: 3.75rem;
  }
}
.screen-12__img {
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #000;
}