
@use 'sass:math';
@import url(https://fonts.googleapis.com/css?family=Quicksand:regular,700&display=swap);




$font-family: "Quicksand";
$font-size: 1.56rem;




$gray: #6A6E77;
$black: #1C1F25;


$mobilesmall: 320px;
$mobilemedium: 500px;
$mobile: 768px;
$tablet: 1000px;

@import "./blocks/base/_nullstyle";
@import "./blocks/base/_function";
@import "./blocks/_common";
@import "./blocks/_header";
@import "./blocks/_footer";
@import "./blocks/_main";


