body {
	font-family: "Quicksand";
	@include adaptive("font-size", 25, 18);

}

.container {
	@include adaptive("padding-left", $containerPadding, 15);
	@include adaptive("padding-right", $containerPadding, 15);
	// padding-top: rem(20);
	// padding-bottom: rem(20);
	flex: 1 1 auto;

}


main {
	scroll-snap-type: y mandatory;
	scroll-behavior: smooth;
	overflow: auto;
	height: 100vh;
	//transition: all 1s ease 0s;

}

section {
	scroll-snap-align: center;
	overflow-y: none;

	// overflow-x: hidden;
	@media (min-width: $mobilesmall) {
		min-height: 100%;

	}

	height: 100%;



}




.section-header {

	&__text {
		line-height: math.div(45, 18);
		max-width: rem(540);

		@media (max-width: $mobilemedium) {
			line-height: 1.8;
		}
	}

	// .section-header__label

	&__label {
		color: $gray;
		@include adaptive("font-size", 25, 18);
		font-weight: 400;
		line-height: 1.5;

		&:not(:last-child) {
			//margin-bottom: clamp(15px, 3.25vw, 32px);
			@include adaptive("margin-bottom", 32, 15);
		}
	}

	// .section-header__title

	&__title {

		color: $black;
		@include adaptive("font-size", 58, 28);

		font-weight: 700;
		line-height: 1.5;
		max-width: rem(480);

		&:not(:last-child) {
			@include adaptive("margin-bottom", 100, 40);
		}

		&_big {
			max-width: rem(890);
		}

	}

	&_lite {
		.section-header__text {
			color: #E3E6EC;


		}

		.section-header__title {

			color: white;
		}

	}
}

.text {
	color: $gray;
	font-size: 21px;
	font-weight: 400;
	line-height: 1.4;

	@media (max-width: $mobile) {
		font-size: 20px;
	}

	@media (max-width: $mobilemedium) {
		font-size: 18px;
	}
}


.title {
	color: $black;
	@include adaptive("font-size", 30, 20);

	font-weight: 700;
	line-height: 1.5;
}

.services {
	display: grid;
	@include adaptive("gap", 60, 30);

	// .services__item

	&__item {
		display: flex;
		align-items: center;
		@include adaptive("gap", 50, 20);

		@media (max-width: $mobilesmall) {
			flex-direction: column;
			align-items: flex-start;

		}
	}

	// .services__icon

	&__icon {
		img {
			max-width: rem(42);

			@media (max-width: $mobile) {
				max-width: 25px;
			}
		}

		@media (max-width: 450px) {
			display: none;
		}

	}

	// .services__body



	// .services__title

	&__title {

		&:not(:last-child) {
			@include adaptive("margin-bottom", 20, 15);
		}
	}

	// .services__text


}





/**
Загальні стилі для табів

*/


/*
.tabs {

	.hide {
		display: none;
	}

	.show {
		display: flex;
	}
	._tab-active {
			cursor: pointer;
		}
}

*/


/**
* Кінець загальні стилі для табів
*/